<% provide(:title, 'список') %>

<h1>список</h1>

<% if signed_in? && current_user.admin? %>
	<section class="user-control-panel">

    <p>
      <div>
	      <%= link_to "add new card", add_path, :class => "btn btn-primary" %>
      </div>
    </p>

	</section>
<% end %>

<%= will_paginate %>

<ul class="users-list">
  <%= render @users %>
</ul>

<%= will_paginate %>