<% provide(:title, 'All users') %>
<h1>All users</h1>

<section class="user-control-panel">
  <!--<h1>управление</h1>-->
  <p>
    <div>
	    <%= link_to "добавить новую карточку", '#', :class => "btn btn-primary" %>
    </div>
  </p>
</section>

<%= will_paginate %>

<<<<<<< HEAD
<ul class="users-list">
=======
<div class="users-list" id="users-list-id">
>>>>>>> updating-users
  <%= render @users %>
</div>

<%= will_paginate %>