<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
	      <% if @user.errors.any? %>
		      <% render 'shared/show_error' %>
		    <% else %>
          <%= gravatar_for @user %>
          <%= @user.name %>
		    <% end %>
      </h1>
    </section>
  </aside>
</div>