<div class="jumbotron">
  <h1>Your Product Name</h1>
  <p>A tagline with a more in-depth description</p>
  <p>
    <%= link_to "Sign up now!", '#', class: "btn btn-large btn-primary" %>
  </p>
</div>
