<h1>Blog app04</h1>
<% @posts.each do |post| %>
  <h2><%= link_to post.title, post %></h2>
  <p>
    <%= truncate post.text %>
  </p>
	<p><%= time_ago_in_words post.created_at %> ago</p>
<% end %>

<p><%= link_to "New post", new_post_path %></p>