%header.navbar.navbar-fixed-top.navbar-inverse
  %div.navbar-inner
    %div.container
      = link_to "Sample App", :root, id: "logo"
      %nav
        %ul.nav.pull-right
          %li= link_to "Home",    :home
          %li= link_to "Help",    :help
          %li= link_to "Sign in", '#'